<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>CRUD application</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <p class="text-light mb-0">
        <span class="font-weight-bold" th:remove="tag" sec:authentication="name">Name</span>
        <span>with roles: </span>
        <span th:each="role: ${userSessionInfo.getRoles()}">
                <span th:text="${role}"></span>
        </span>
    </p>
    <div class="ml-auto">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-link" th:href="@{/logout}"> Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div id="main-container" class="container-fluid">
    <div class="row">
        <div class="sidebar col-sm-3 col-md-2 d-none d-sm-block">
            <ul class="nav flex-column">
                <li class="active py-1" th:if="${#lists.contains(userSessionInfo.getRoles(), 'ADMIN')}">
                    <a href="/admin">Admin</a>
                </li>
                <li class="py-1" th:if="${#lists.contains(userSessionInfo.getRoles(), 'USER')}">
                    <a href="/user">User</a>
                </li>
            </ul>
        </div>
        <div id="main-content-container" class="col-sm-9 col-md-10">
            <div class="row row-cols-12 justify-content-center mt-1 mx-auto">
                <div class="col">
                    <div class="my-3">
                        <h2>Admin panel</h2>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#adminTab" data-toggle="tab">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#userTab" data-toggle="tab">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!--Начало Tab ADMIN'а для вставки записи-->
                        <div id="adminTab" class="tab-pane border border-top-0 active">
                            <h5 class="pt-3 mb-3 pl-4 pb-3 bg-light botomline">All users</h5>
                            <div class="ml-4 mr-4">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getFirstName()}"></td>
                                        <td th:text="${user.getSurname()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getName()}"></td>
                                        <td>
                                                <span th:each="role : ${user.getRoles()}">
                                                    <span th:text="${role.getName()}"></span>
                                                </span>
                                        </td>
                                        <td>
                                            <div>
                                                <input class="btn btn-info btn-sm"
                                                       data-target="#editModal" data-toggle="modal"
                                                       type="submit" value="Edit">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input class="btn btn-danger btn-sm"
                                                       data-target="#deleteModal" data-toggle="modal"
                                                       type="submit" value="Delete">
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                                <!--Модальная форма для удаления записи-->
                                <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete user</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times; </span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row justify-content-center">
                                                    <div class="col-6 mt-2">
                                                        <form id="modalDelete" th:method="DELETE"
                                                              th:action="@{/admin/{id}(id=${user.getId()})}">
                                                            <div class="form-group">
                                                                <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="idModalDelete">ID</label>
                                                                </div>
                                                                <input type="text" name="idModalDeleteName"
                                                                       id="idModalDelete"
                                                                       class="form-control" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="firstNameModalDelete">First name</label>
                                                                </div>
                                                                <input type="text" name="firstNameModalDeleteName"
                                                                       id="firstNameModalDelete"
                                                                       class="form-control" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="surnameModalDelete">Last name</label>
                                                                </div>
                                                                <input type="text" name="surnameModalDeleteName"
                                                                       id="surnameModalDelete"
                                                                       class="form-control" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="ageModalDelete">Age</label>
                                                                </div>
                                                                <input type="number" name="ageModalDeleteName"
                                                                       id="ageModalDelete"
                                                                       class="form-control" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="loginModalDelete">E-mail</label>
                                                                </div>
                                                                <input type="text" name="loginModalDeleteName"
                                                                       id="loginModalDelete"
                                                                       class="form-control" disabled>
                                                            </div>
                                                            <div class="d-flex-column justify-content-center">
                                                                <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="selectedRoleDelete">Role</label>
                                                                </div>
                                                                <select name="role" class="custom-select"
                                                                        multiple size="2" id="selectedRoleDelete"
                                                                        disabled>
                                                                    <option value="one">ADMIN</option>
                                                                    <option value="two">USER</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-danger" form="modalDelete">Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--КОНЕЦ Модальной формы для удаления записи-->

                                <!--Модальная форма для РЕДАКТИРОВАНИЯ записи-->
                                <div class="modal fade" tabindex="-1" role="dialog" id="editModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit user</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times; </span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row justify-content-center">
                                                    <div class="col-6 mt-2">
                                                        <form id="modalEdit" th:method="PATCH"
                                                              th:action="@{/admin/{id}(id=${updatedUser.getId()})}">
                                                            <div class="form-group">
                                                            <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="idModalEdit">ID</label>
                                                                </div>
                                                                <input type="text" th:field="${updatedUser.id}"
                                                                       id="idModalEdit"
                                                                       class="form-control" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                            <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="firstNameModalEdit">First name</label>
                                                                </div>
                                                                <input type="text" th:field="${updatedUser.firstName}"
                                                                       id="firstNameModalEdit"
                                                                       class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                            <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="surnameModalEdit">Last name</label>
                                                                </div>
                                                                <input type="text" th:field="${updatedUser.surname}"
                                                                       id="surnameModalEdit"
                                                                       class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                            <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="ageModalEdit">Age</label>
                                                                </div>
                                                                <input type="number" th:field="${updatedUser.age}"
                                                                       id="ageModalEdit"
                                                                       class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                            <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="loginModalEdit">E-mail</label>
                                                                </div>
                                                                <input type="text" th:field="${updatedUser.name}"
                                                                       id="loginModalEdit"
                                                                       class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                            <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="passwordModalEdit">Password</label>
                                                                </div>
                                                                <input type="password"
                                                                       th:field="${updatedUser.password}"
                                                                       id="passwordModalEdit"
                                                                       class="form-control">
                                                            </div>
                                                            <div class="d-flex-column justify-content-center">
                                                            <div class="d-flex font-weight-bold justify-content-center">
                                                                    <label for="selectedRoleEdit">Role</label>
                                                                </div>
                                                                <select th:field="${updatedUser.roles}"
                                                                        class="custom-select"
                                                                        multiple size="2" id="selectedRoleEdit">
                                                                    <option value="1">ADMIN</option>
                                                                    <option value="2">USER</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary" form="modalEdit">Edit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--КОНЕЦ Модальной формы для РЕДАКТИРОВАНИЯ записи-->


                            </div>
                        </div>
                        <!--КОНЕЦ Tab ADMIN'а для вставки записи-->

                        <!--Начало Tab USER'а для вставки записи-->
                        <div id="userTab" class="tab-pane border">
                            <h5 class="pt-3 mb-3 pl-4 pb-3 bg-light botomline">Add new user</h5>
                            <div class="row justify-content-center">
                                <div class="col-4 mt-2">
                                    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                                        <div class="form-group">
                                            <div class="d-flex font-weight-bold justify-content-center">
                                                <label for="name">First name</label>
                                            </div>
                                            <input type="text" th:field="*{firstName}" id="name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex font-weight-bold justify-content-center">
                                                <label for="surname">Last name</label>
                                            </div>
                                            <input type="text" th:field="*{surname}" id="surname" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex font-weight-bold justify-content-center">
                                                <label for="age">Age</label>
                                            </div>
                                            <input type="number" th:field="*{age}" id="age" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex font-weight-bold justify-content-center">
                                                <label for="login">E-mail</label>
                                            </div>
                                            <input type="text" th:field="*{name}" id="login" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex font-weight-bold justify-content-center">
                                                <label for="password">Пароль</label>
                                            </div>
                                            <input type="password" th:field="*{password}" id="password"
                                                   class="form-control">
                                        </div>
                                        <div class="d-flex-column justify-content-center">
                                            <div class="d-flex font-weight-bold justify-content-center">
                                                <label>Role</label>
                                            </div>
                                            <select th:field="*{roles}" class="custom-select" multiple size="2">
                                                <option value="1" selected>ADMIN</option>
                                                <option value="2">USER</option>
                                            </select>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center my-3">
                                            <button class="btn btn btn-success" type="submit">
                                                Add new user
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!--Конец Tab USER'а формы для удаления записи-->
                    </div>

                </div>
                <!-- Main Content will go here -->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/js/show-modal-form.js"></script>
</body>
</html>